Informacion requisito para el primer avance del proyecto integrador.

Equipo número 5

Grupo: 03, Lunes
- 1595894 GONZALEZ CAMPOS EDSON ALI
- 1941521 LOPEZ DOMINGUEZ FRANCISCO EVERARDO
- 1663288 HERRERA RIVERA JENNIFER JACQUELINE
- 1981779 SEGOVIA GONZÁLEZ ANAKAREN

1) Titulo de la base de datos BankChurners 

a) bankChuners

b) https://www.kaggle.com/salamatoto/bankchuners

2) Descripción de los datos

a) Son datos bancarios acerca de las tarjetas de crédito de diversos clientes. Los datos están en formato de tablas para su visualización, la mayoria de estos son variables numericas. 

b) Descripción de las columnas: En las columnas de nuestra base de datos se describen desde una columna de identificación que sería clientnum, columnas con texto largo donde entraréan las columnas de attrition_flag, education_level, marital_status y card_category. También hay de tiempo siendo la columna customer_age que nos refleja la edad del cliente o las columnas months_on_book, Total_Relationship_Count y Months_Inactive_12_mon. También hay columnas de datos para medir columnas con datos de medición como en income_category.

3) Justificación del uso de datos

a) Las características que más nos llamaron la atención creo que fue el que sea una base de datos bancaria, es algo cercano a lo que tendremos que trabajar al graduarnos y es interesante el poder manejar algo similar ahora que somos estudiantes. El que podamos manejar los datos sobre sus límites de crédito, tipos de tarjetas e ingresos de los clientes.

b) El poder acostumbrar a nuestra mente a manejar datos bancarios de una manera correcta, poder manipularlos y hacer de ellos algo más simple de manejar.

4) Objetivo final

a)	Nuestro objetivo final con esta base de datos es lograr hacerla más amigable para la visualización de los datos. Eliminar los caracteres que consideremos innecesarios y conseguir su simplificación. Queremos identificar que clientes podrían tener problemas al pagar su cuenta de crédito para seguirlos de cerca, buscar datos que nos hagan identificar si pudieran dejar de pagar o si por el contrario el cliente merece que se eleve su nivel en el banco.

5) Preguntas de interés

a) Las preguntas que nos planteamos son: 
- ¿La escolaridad de las personas tiene algo que ver en sus ingresos?
- Según su promedio de abertura para comprar (Avg_open_to_buy), ¿Qué sexo gasta más dinero?

In [10]:
import pandas as pd
import numpy as np
import json

df = pd.read_csv("BankChurners.csv",header = 0,sep = ",")

df #base de datos sin modificaciones

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [6]:
df.drop('Attrition_Flag', axis = 1) #Eliminación de columnas no necesarias
df.drop('Total_Amt_Chng_Q4_Q1',axis = 1 ) 
df.drop('Total_Trans_Amt',axis = 1 ) 
df.drop('Total_Trans_Ct',axis = 1 ) 
df.drop('Total_Ct_Chng_Q4_Q1',axis = 1 ) 
df.drop('Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',axis = 1 ) 


df = df.drop(['Attrition_Flag','Total_Amt_Chng_Q4_Q1','Total_Trans_Amt','Total_Trans_Ct','Total_Ct_Chng_Q4_Q1','Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1'],axis=1)
df = df.rename(columns = {'CLIENTNUM':'NumeroDCliente'}) #Cambio de nombres de las columnas
df = df.rename(columns = {'Customer_Age':'EdadDCliente'})
df = df.rename(columns = {'Gender':'Genero'})
df = df.rename(columns = {'Dependent_count':'CuentasDependientes'})
df = df.rename(columns = {'Education_Level':'NivelDEducacion'})
df = df.rename(columns = {'Marital_Status':'EstadoCivil'})
df = df.rename(columns = {'Income_Category':'IntervaloDIngresos'})
df = df.rename(columns = {'Card_Category':'NivelDTarjeta'})
df = df.rename(columns = {'Months_on_book':'MesesEnLibro'})
df = df.rename(columns = {'Total_Relationship_Count':'CuentasRelacionadas'})
df = df.rename(columns = {'Months_Inactive_12_mon':'MesesInactivoEnUnAnho'})
df = df.rename(columns = {'Contacts_Count_12_mon':'ContactoConLaCuenta'})
df = df.rename(columns = {'Credit_Limit':'LimiteCrediticio'})
df = df.rename(columns = {'Total_Revolving_Bal':'TotalDSaldoRotatorio'})
df = df.rename(columns = {'Avg_Open_To_Buy':'SaldoDisponible'})
df = df.rename(columns = {'Avg_Utilization_Ratio':'PorcentajeUtilizado'})
print(df)

NameError: name 'df' is not defined

In [13]:
print(df)

       NumeroDCliente  EdadDCliente Genero  CuentasDependientes  \
0           768805383            45      M                    3
1           818770008            49      F                    5
2           713982108            51      M                    3
3           769911858            40      F                    4
4           709106358            40      M                    3
...               ...           ...    ...                  ...
10122       772366833            50      M                    2
10123       710638233            41      M                    2
10124       716506083            44      F                    1
10125       717406983            30      M                    2
10126       714337233            43      F                    2

      NivelDEducacion EstadoCivil IntervaloDIngresos NivelDTarjeta  \
0         High School     Married        $60K - $80K          Blue
1            Graduate      Single     Less than $40K          Blue
2            Graduate     Married       $80K - $120K          Blue
3         High School     Unknown     Less than $40K          Blue
4          Uneducated     Married        $60K - $80K          Blue
...               ...         ...                ...           ...
10122        Graduate      Single        $40K - $60K          Blue
10123         Unknown    Divorced        $40K - $60K          Blue
10124     High School     Married     Less than $40K          Blue
10125        Graduate     Unknown        $40K - $60K          Blue
10126        Graduate     Married     Less than $40K        Silver

       MesesEnLibro  CuentasRelacionadas  MesesInactivoEnUnAnho  \
0                39                    5                      1
1                44                    6                      1
2                36                    4                      1
3                34                    3                      4
4                21                    5                      1
...             ...                  ...                    ...
10122            40                    3                      2
10123            25                    4                      2
10124            36                    5                      3
10125            36                    4                      3
10126            25                    6                      2

       ContactoConLaCuenta  LimiteCrediticio  TotalDSaldoRotatorio  \
0                        3           12691.0                   777
1                        2            8256.0                   864
2                        0            3418.0                     0
3                        1            3313.0                  2517
4                        0            4716.0                     0
...                    ...               ...                   ...
10122                    3            4003.0                  1851
10123                    3            4277.0                  2186
10124                    4            5409.0                     0
10125                    3            5281.0                     0
10126                    4           10388.0                  1961

       SaldoDisponible  PorcentajeUtilizado  \
0              11914.0                0.061
1               7392.0                0.105
2               3418.0                0.000
3                796.0                0.760
4               4716.0                0.000
...                ...                  ...
10122           2152.0                0.462
10123           2091.0                0.511
10124           5409.0                0.000
10125           5281.0                0.000
10126           8427.0                0.189

       Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0                                               0.999910
1                                               0.999940
2                                               0.999980
3                                               0.999870
4                                               0.999980
...                                                  ...
10122                                           0.999810
10123                                           0.004729
10124                                           0.002118
10125                                           0.003294
10126                                           0.003377

[10127 rows x 17 columns]